@use "./colors" as *;

@mixin sm {
  @media (min-width: 580px) {
    @content;
  }
}

@mixin md {
  @media (min-width: 768px) {
    @content;
  }
}

@mixin lg {
  @media (min-width: 1024px) {
    @content;
  }
}

@mixin btn($bgColor: $black, $color: $white) {
  width: 170px;
  text-align: center;
  padding: 0.5rem;
  border: 0;
  background-color: $bgColor;
  color: $color;
  cursor: pointer;
  transition: 500ms;

  &:hover {
    background-color: $neutral-200;
  }
}
