:root {
  --clr-gray: #c6c6c6;
}

.link {
  transition: color 500ms;
}

.link:hover {
  color: var(--clr-gray);
}

.stories-link {
  color: black;
  text-transform: uppercase;
  letter-spacing: 1px;
  display: flex;
  align-items: center;
  gap: 1rem;
  transition: color 300ms;
}

.btn {
  width: 170px;
  text-align: center;
  padding: 0.5rem;
  border: 0;
  background-color: black;
  color: white;
  cursor: pointer;
  transition: 500ms;
}

.btn.btn-pro {
  background-color: #fff;
  color: black;
}
.btn.btn-pro:hover {
  background-color: #c6c6c6;
}

.btn:hover {
  background-color: var(--clr-gray);
  color: black;
}

/* Arrow */
.stories-link > span:last-of-type {
  font-size: 1.5rem;
}

.dark .stories-link {
  color: white;
}

.stories-link:hover {
  color: var(--clr-gray);
}
