---
import { getCollection } from "astro:content";
import StorySection from "../components/StorySection.astro";
import Layout from "../layouts/Layout.astro";
import Grid from "../components/Grid.astro";
import Story from "../components/Story.astro";
import StoriesLink from "@components/StoriesLink.astro";

const stories = await getCollection("stories");

export const prerender = true;
---

<Layout title="Home">
  <div class="page">
    <StorySection dark>
      <div slot="text" class="text">
        <h2>CREATE AND SHARE YOUR PHOTO STORIES.</h2>
        <p>
          Photosnap is a platform for photographers and visual storytellers. We
          make it easy to share photos, tell stories and connect with others.
        </p>
        <StoriesLink dark />
      </div>

      <div slot="image" class="image create-and-share"></div>
    </StorySection>
    <StorySection reverse>
      <div slot="text" class="text">
        <h2>BEAUTIFUL STORIES EVERYTIME</h2>
        <p>
          We provide design templates to ensure your stories look terrific.
          Easily add photos, text, embed maps and media from other networks.
          Then share your story with everyone.
        </p>
        <StoriesLink />
      </div>

      <div slot="image" class="image beutiful-stories"></div>
    </StorySection>
    <StorySection>
      <div slot="text" class="text">
        <h2>DESIGNED FOR EVERYONE</h2>
        <p>
          Photosnap can help you create stories that resonate with your
          audience. Our tool is designed for photographers of all levels,
          brands, businesses you name it.
        </p>
        <StoriesLink />
      </div>

      <div slot="image" class="image design"></div>
    </StorySection>

    <Grid>
      {
        stories
          .slice(0, 4)
          .map((story) => (
            <Story
              image={story.data.image}
              title={story.data.title}
              author={story.data.author}
              date={story.data.date}
            />
          ))
      }
    </Grid>
  </div>
</Layout>

<style lang="scss">
  @use "@sass/abstracts" as *;
  .image {
    height: 100%;
    background-size: cover;
  }

  .text {
    padding-inline: 2rem;

    @include lg {
      padding-inline: 4rem;
    }
  }

  .text h2 {
    margin-bottom: 2rem;

    @include sm {
      font-size: 2.5rem;
    }
  }

  .text p {
    text-wrap: balance;
    color: $neutral-400;
    margin-bottom: 2rem;
  }

  /* Images */
  .create-and-share {
    background-image: url("/assets/home/mobile/create-and-share.jpg");

    @include sm {
      background-image: url("/assets/home/tablet/create-and-share.jpg");
    }

    @include lg {
      background-image: url("/assets/home/desktop/create-and-share.jpg");
    }
  }

  .beutiful-stories {
    background-image: url("/assets/home/mobile/beautiful-stories.jpg");

    @include sm {
      background-image: url("/assets/home/tablet/beautiful-stories.jpg");
    }

    @include lg {
      background-image: url("/assets/home/desktop/beautiful-stories.jpg");
    }
  }

  .design {
    background-image: url("/assets/home/mobile/designed-for-everyone.jpg");

    @include sm {
      background-image: url("/assets/home/tablet/designed-for-everyone.jpg");
    }

    @include lg {
      background-image: url("/assets/home/desktop/designed-for-everyone.jpg");
    }
  }
</style>
