---
import BetaBanner from "../components/BetaBanner.astro";
import StorySection from "../components/StorySection.astro";
import PricePlans from "../components/PricePlans.astro";
import Layout from "../layouts/Layout.astro";
import PriceCompare from "../components/PriceCompare.astro";
---

<Layout title="Pricing">
  <div class="page">
    <StorySection dark>
      <div slot="text" class="text">
        <h1>Pricing</h1>
        <p>
          Create a your stories, Photosnap is a platform for photographers and
          visual storytellers. It's the simple way to create and share your
          photos.
        </p>
      </div>

      <div slot="image" class="image pricing-image"></div>
    </StorySection>
    <PricePlans />
    <PriceCompare />
    <BetaBanner />
  </div>
</Layout>

<style>
  .text {
    padding: 1.5rem;
  }
  h1 {
    font-size: 3rem;
    text-transform: uppercase;
    left: 1px;
    margin-bottom: 1.5rem;
  }

  p {
    color: var(--clr-gray);
  }

  .pricing-image {
    background-image: url("/assets/pricing/mobile/hero.jpg");
    height: 100%;
    background-size: cover;
  }

  @media (min-width: 580px) {
    .text {
      padding: 3rem 5rem;
    }

    .pricing-image {
      background-image: url("/assets/pricing/tablet/hero.jpg");
    }
  }

  @media (min-width: 1024px) {
    .pricing-image {
      background-image: url("/assets/pricing/desktop/hero.jpg");
    }
  }
</style>
