---
import { getCollection } from "astro:content";
import Grid from "../components/Grid.astro";
import Story from "../components/Story.astro";
import Layout from "../layouts/Layout.astro";

const stories = await getCollection("stories");

export const prerender = true;
---

<Layout title="Stories">
  <div class="page">
    <div class="moon">
      <div class="container">
        <div class="featured-text">
          <p>Last month's featured story</p>
          <h2>Hazzy full moon of appolachia</h2>
          <p>March 2nd 2020 by John Appleseed</p>
          <p>
            The dissected plateau area, while not actually made up of geological
            mountains, is popularly called "mountains," especially in eastern
            Kentucky and West Virginia, and while the ridges are not high, the
            terrain is extremely rugged.
          </p>
        </div>
      </div>
    </div>
    <Grid>
      {
        stories.map((story) => (
          <Story
            image={story.data.image}
            title={story.data.title}
            author={story.data.author}
            date={story.data.date}
          />
        ))
      }
    </Grid>
  </div>
</Layout>

<style lang="scss">
  @use "@sass/abstracts" as *;

  .moon {
    height: 320px;
    background-size: cover;
    background-image: url("/assets/stories/mobile/moon-of-appalacia.jpg");

    @include md {
      height: 650px;
      background-image: url("/assets/stories/tablet/moon-of-appalacia.jpg");
    }

    @include lg {
      background-image: url("/assets/stories/desktop/moon-of-appalacia.jpg");
    }
  }

  .container {
    height: 100%;
    display: flex;
    align-items: center;
  }

  .featured-text {
    color: white;
    text-align: center;

    @include sm {
      width: 400px;
      text-align: left;
    }
  }

  .featured-text p:first-of-type {
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 1rem;
  }

  .featured-text h2 {
    font-size: 1.75rem;
    margin-bottom: 0.5rem;
    text-transform: uppercase;

    @include md {
      font-size: 2rem;
      margin-bottom: 1rem;
    }

    @include lg {
      font-size: 2.5rem;
      margin-bottom: 1.5rem;
    }
  }

  .featured-text p:last-of-type {
    font-size: 14px;
    margin-top: 0.5rem;
    color: $neutral-200;
  }
</style>
