<div class="beta">
  <div class="container">
    <h2>WE'RE IN BETA. GET YOUR INVITE TODAY!</h2>
    <a href="/invite">Get an Invite</a>
  </div>
</div>

<style>
  .beta {
    background-image: url("/assets/shared/mobile/bg-beta.jpg");
    background-size: cover;
    background-color: rgb(157, 157, 157);
    background-blend-mode: multiply;
  }

  .beta a {
    color: white;
    font-size: 1.5rem;
  }

  .beta a:hover {
    text-decoration: underline;
  }

  .beta .container {
    height: 280px;
    color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    gap: 2rem;
  }

  .beta h2 {
    max-width: 450px;
    font-size: 2rem;
    text-wrap: balance;
  }

  @media (min-width: 768px) {
    .beta {
      background-image: url("/assets/shared/tablet/bg-beta.jpg");
    }

    .beta .container {
      flex-direction: row;
      justify-content: space-between;
      text-align: left;
    }

    .beta h2 {
      font-size: 3rem;
    }
  }
  @media (min-width: 1024px) {
    .beta {
      background-image: url("/assets/shared/desktop/bg-beta.jpg");
    }
  }
</style>
