---
import NavLink from "./NavLink.astro";
---

<footer>
  <div class="container">
    <div class="footer-nav">
      <a href="/"><img src="/assets/shared/desktop/logo-white.svg" alt="" /></a>
      <nav>
        <NavLink href="/stories" white>Stories</NavLink>
        <NavLink href="/features" white>Features</NavLink>
        <NavLink href="/pricing" white>Pricing</NavLink>
      </nav>
      <a href="/invite" class="invite-link">Get an invite</a>
    </div>
    <div class="copyright">Copyright &copy; 2023. All rights reserved</div>
  </div>
</footer>

<style>
  footer {
    background-color: black;
    padding-block: 2rem;
    color: white;
  }

  .copyright {
    text-align: center;
    padding-block: 1rem;
  }

  .invite-link {
    width: 170px;
    text-align: center;
    font-size: 18px;
  }

  .invite-link:hover {
    text-decoration: underline;
  }

  .footer-nav {
    padding-block: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
  }

  a {
    color: white;
  }

  nav {
    display: flex;
    gap: 1rem;
    flex-direction: column;
    text-align: center;
    font-size: 14px;
  }

  @media (min-width: 768px) {
    .footer-nav {
      flex-direction: row;
      justify-content: space-between;
    }

    nav {
      flex-direction: row;
    }
  }
</style>
