---
import NavLink from "./NavLink.astro";
---

<header class="container">
  <a href="/">
    <img src="/assets/shared/desktop/logo.svg" alt="logo" />
  </a>
  <nav id="primary-navigation">
    <NavLink href="/stories">Stories</NavLink>
    <NavLink href="/features">Features</NavLink>
    <NavLink href="/pricing">Pricing</NavLink>
    <!-- <NavLink href="/stories">Stories</NavLink> -->
    <a href="/invite" class="btn">Get an invite</a>
  </nav>

  <a href="/invite" class="btn">Get an invite</a>

  <button
    class="toggle-menu"
    aria-controls="primary-navigation"
    onclick="toggleMenu()"
  >
    <span></span><span></span><span></span>
  </button>
</header>

<script is:inline>
  function toggleMenu() {
    document.querySelector("#primary-navigation")?.classList.toggle("active");
    console.log("object");
  }
</script>

<style lang="scss">
  @use "@sass/abstracts" as *;

  header {
    padding-block: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
  }

  nav {
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 100%;
    background-color: white;
    text-align: center;
    align-items: center;
    top: -50%;
    transition: all 500ms;
    left: 0;
    padding-block: 2rem;
  }

  nav.active {
    top: 67px;
  }

  header > .invite-link {
    display: none;
  }

  button {
    background-color: transparent;
    border: 0;
    height: 17px;
    width: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  button span {
    height: 3px;
    background-color: black;
    width: 100%;
  }

  .btn {
    @include btn;
  }

  @media (min-width: 768px) {
    .toggle-menu {
      display: none;
    }

    nav {
      position: static;
      flex-direction: row;
      width: fit-content;
      padding-block: 0;
    }

    nav .btn {
      display: none;
    }

    header > .btn {
      display: block;
    }
  }
</style>
