<div class="container">
  <div class="table-wrapper">
    <table>
      <tr>
        <th class="table-title">The Features</th>
        <th>Basic</th>
        <th>Pro</th>
        <th>Business</th>
      </tr>
      <tr>
        <td>UNLIMITED STORY POSTING</td>
        <td><img src="/assets/pricing/desktop/check.svg" alt="" /></td>
        <td><img src="/assets/pricing/desktop/check.svg" alt="" /></td>
        <td><img src="/assets/pricing/desktop/check.svg" alt="" /></td>
      </tr>
      <tr>
        <td>UNLIMITED PHOTO UPLOAD</td>
        <td><img src="/assets/pricing/desktop/check.svg" alt="" /></td>
        <td><img src="/assets/pricing/desktop/check.svg" alt="" /></td>
        <td><img src="/assets/pricing/desktop/check.svg" alt="" /></td>
      </tr>
      <tr>
        <td>EMBEDDING CUSTOM CONTENT</td>
        <td></td>
        <td><img src="/assets/pricing/desktop/check.svg" alt="" /></td>
        <td><img src="/assets/pricing/desktop/check.svg" alt="" /></td>
      </tr>
      <tr>
        <td>CUSTOMIZE METADATA</td>
        <td></td>
        <td><img src="/assets/pricing/desktop/check.svg" alt="" /></td>
        <td><img src="/assets/pricing/desktop/check.svg" alt="" /></td>
      </tr>
      <tr>
        <td>ADVANCED METRICS</td>
        <td></td>
        <td></td>
        <td><img src="/assets/pricing/desktop/check.svg" alt="" /></td>
      </tr>
      <tr>
        <td>PHOTO DOWNLOADS</td>
        <td></td>
        <td></td>
        <td><img src="/assets/pricing/desktop/check.svg" alt="" /></td>
      </tr>
      <tr>
        <td>SEARCH ENGINE INDEXING</td>
        <td></td>
        <td></td>
        <td><img src="/assets/pricing/desktop/check.svg" alt="" /></td>
      </tr>
      <tr>
        <td>CUSTOM ANALYTICS</td>
        <td></td>
        <td></td>
        <td><img src="/assets/pricing/desktop/check.svg" alt="" /></td>
      </tr>
    </table>
  </div>
</div>

<style>
  .container {
    padding-bottom: 4rem;
  }

  .table-wrapper {
    max-width: 700px;
    margin-inline: auto;
  }

  table {
    width: 100%;
    border-collapse: collapse;
  }

  .table-title {
    text-align: left;
  }

  th {
    text-transform: uppercase;
  }

  th,
  td {
    padding: 1.5rem 0.5rem;
    font-size: 12px;
  }

  tr td:not(:first-of-type) {
    text-align: center;
  }

  tr td:first-of-type {
    font-size: 12px;
  }

  tr {
    border-bottom: 1px solid rgb(223, 223, 223);
  }

  tr:first-of-type {
    border-color: black;
  }

  @media (min-width: 540px) {
    th,
    td {
      font-size: 1rem;
    }

    tr td:first-of-type {
      font-size: 14px;
      letter-spacing: 1px;
    }
  }
</style>
