---
export interface Props {
  image: string;
  title: string;
  author: string;
  date: string;
}
const { image, title, author, date } = Astro.props;
---

<li style={{ backgroundImage: `url("/assets/stories/desktop/${image}")` }}>
  <div>
    <p class="date">{date}</p>
    <h3>{title}</h3>
    <p class="athor">by {author}</p>
    <button>Read Story &rarr;</button>
  </div>
</li>

<style>
  li {
    height: 500px;
    background-size: cover;
    list-style: none;
    padding: 2rem;
    display: flex;
    align-items: flex-end;
    transition: transform 400ms;
    background-color: rgb(142, 142, 142);
    background-blend-mode: multiply;
    color: white;
  }

  li:hover {
    transform: translateY(-12px);
  }

  div {
    width: 100%;
  }

  h3 {
    font-size: 1.5rem;
    margin-block: 0.25rem;
  }

  button {
    border-top: 1px solid rgb(190, 190, 190);
    margin-top: 1.5rem;
    padding-top: 1.5rem;
    display: flex;
    font-size: 1.5rem;
    color: white;
    align-items: center;
  }
  button:hover {
    text-decoration: underline;
  }
</style>
