---
export interface Props {
  reverse?: boolean;
  dark?: boolean;
}
const { reverse, dark } = Astro.props;
---

<section class={reverse ? "reverse" : ""}>
  <div class={dark ? "dark info" : "info"}>
    <slot name="text" />
  </div>
  <div class="image">
    <!-- Make sure to add height: 100% to div element passed in -->
    <slot name="image" />
  </div>
</section>

<style lang="scss">
  @use "@sass/abstracts" as *;

  section {
    display: flex;
    flex-direction: column;

    @include sm {
      flex-direction: row;

      &.reverse {
        flex-direction: row-reverse;
      }
    }
  }

  .info,
  .image {
    height: 350px;

    @include sm {
      height: 590px;
    }
  }

  .info {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 3rem;

    &.dark {
      background-color: $black;
      color: $white;
    }
  }

  @include sm {
    .info {
      flex: 3;
    }

    .image {
      flex: 2;
    }
  }

  @include lg {
    .info {
      flex: 3;
    }

    .image {
      flex: 4;
    }
  }
</style>
